<h1>Ajout d'un nouvel indien dans la tribe</h1>






<p>Gemless version</p>
<form action="/indiens" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Name: </label>
  <input type="text" name="indien[name]" id="name">

  <label for="surname">Surname: </label>
  <input type="text" name="indien[surname]" id="surname">

  <label for="birthdate">Birthdate: </label>
  <input type="date" name="indien[birthdate]" id="birthdate">

  <label for="ancestor">Ancestor: </label>
  <input type="text" name="indien[ancestor]" id="ancestor">

  <label for="longitude">Longitude: </label>
  <input type="text" name="indien[longitude]" id="longitude">

  <label for="latitude">Latitude: </label>
  <input type="text" name="indien[latitude]" id="latitude">


  <input type="submit">
</form>

<br>

<p> Simple form version <p>
<%= simple_form_for @indien do |f| %>
  <%= f.input :name, :label => 'Name' %>
  <%= f.input :surname, :label => 'Surname' %>
  <%= f.input :birthdate, :label => 'Birthdate' %>

  <%= f.label :ancestor %>
  <%= f.text_field :ancestor %>


  <%= f.button :submit %>
<% end %>

