<h1>Search Results</h1>

    <table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Birthdate</th>
    <th>Ancestor</th>
    <th>Longitude</th>
    <th>Latitude</th>
  </thead>
  <% @indiens.each do |indien| %>
  <tr>
    <td><%= indien.id %></td>
    <td><%= indien.name %></td>
    <td><%= indien.surname %></td>
    <td><%= indien.birthdate %></td>
    <td><%= indien.ancestor %></td>
    <td><%= indien.longitude %></td>
    <td><%= indien.latitude %></td>
  </tr>
  <% end %>
</table>