<h1>Pages#statistiques</h1>

<p>There is <%= Indien.count %> indiens dans la tribu </p>

<p>Le plus agé à <%= @older %> ans </p>

<p>L'age moyen est <%= @ageMoyen.round %> ans </p>


Et il s'appelle : <%= @ppl.name %> <%= @ppl.surname %>