<h1>Pages#statistiques</h1>
<p>Find me in app/views/pages/statistiques.html.erb</p>
<p>Now is <%= Time.now %></p>
<p>There is <%= Indien.count %> indiens dans la tribu </p>

<p>Le plus agé à <%= @older %> ans </p>

<p>L'age moyen est <%= @ageMoyen.round %> ans </p>


gars : <%= @ppl.name %> <%= @ppl.surname %>